@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');

#my-work-logo {
    text-shadow: 2px 2px 6px white;
    font-family: 'Solitreo', cursive;
    padding:0.5rem 0;
}

.my-work-header {
    position:sticky;
    position:-webkit-sticky;
    top:0px;
}

.my-work-navbar li{
    padding-top:1.5rem;
}
.my-work-navbar li:hover {
    background-color: var(--color-dark);
}

.nav-item {
    padding-top:1.8vw;
}
.toggle-button {
    font-size: 2rem;
    position:absolute;
    right:1rem;
    top:0.5rem;
    display:none;
    color:white;
}


.aside-menu {
    overflow: auto;
}

.my-work-links {
    list-style-type: none;
    padding:0px;
    max-width: 800px;
    margin:2vw auto;
}

.my-work-links a {
    font-size:calc(1rem + 0.5vw);
    color:var(--primary-color);
    text-decoration: none;
    margin:0.5rem 0;
    display:inline-block;
}

.footer-container {
    padding:2vw 4vw;
}

.footer-input {
    padding:4vw 2vw;
    width:70%;
    border:none;
    outline:none;
    font-size:calc(1rem + 0.5vw);
}
@media only screen and (max-width:575px) {
    .toggle-button {
        display:block;
    }

    .nav-link-container {
        flex-direction: column;
        align-items: center;
        display:none;

    }

    .active {
        display:flex;
    }
}